* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --email-background-color: #ffffe4;
  --email-border-color: #dcdcdc;
  --email-text-color: #333333;
  --confidential-text-color: #df0000;
}
body {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--email-text-color);
  min-height: 100vh;
}

#email {
  width: 100%;
  max-width: 500px;
  background-color: var(--email-background-color);
  padding: 50px;
  border: 2px solid var(--email-border-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  position: relative;
}

article,
footer,
header {
  margin-bottom: 1em;
}

#confidential,
#top-secret {
  display: inline-block;
  padding: 0.4em 0.8em;
  margin-left: 0.4em;
  color: var(--confidential-text-color);
  border: 3px solid currentcolor;
  position: absolute;
  font-family: Georgia, "Times New Roman", Times, serif;
  white-space: nowrap;
  letter-spacing: 0.08em;
}

#top-secret {
  top: 10%;
  left: 70%;
  transform: translate(-50%, -50%) rotate(15deg) scale(1.5);
}

#confidential {
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%) rotate(-25deg) scale(1.5);
}

header p {
  margin-bottom: 0.3em;
  line-height: 1.3em;
}

h3 {
  color: var(--email-text-color);
  margin-bottom: 0.5em;
  font-size: 1.2em;
  letter-spacing: clamp(0.05em, 0.2vw, 0.2em);
  line-height: 1.35em;
  text-align: center;
}

hr {
  margin-bottom: 1em;
}

article {
  line-height: 1.5;
}

footer {
  line-height: 1.5;
}

.bold {
  font-weight: bold;
}

.blurred {
  filter: blur(3px);
  /* to preent copy-pasting */
  user-select: none;
}
